<footer class="site-footer">
<div class="wrap">
<h3 class="footer-heading">{{ site.title }}</h3>
<div class="footer-col-1 column">
<ul>
<li>University of Nice Sophia-Antipolis </li>
<li>I3S Laboratory (UMR CNRS 7271)</li>
</ul>
</div>
<div class="footer-col-3 column" style="margin-top:-30px">
<p>
<a href="http://www.i3s.unice.fr" class="media" title="http://www.i3s.unice.fr" rel="nofollow"><img src="assets/i3s.png" class="media" alt="" height="40" width="120"></a> <a href="http://www.unice.fr" class="media" title="http://www.unice.fr" rel="nofollow"><img src="assets/UNS.png" class="media" alt="" height="50" width="100"></a> <a href="http://www.cnrs.fr" class="media" title="http://www.cnrs.fr" rel="nofollow"><img src="assets/cnrs.png" title="assets/cnrs.png" class="media" alt="logo-cnrs.jpg" height="70" width="80"></a>
</p>

</div>
</div>
</footer>